.product{
    background-color: #fafafa;
    width: 100%;
    height: 493px;
}
.product .content h2{
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    padding-top:70px;
    margin: 0;
}
.product .content p{
    text-align: center;
    color: #7a7a8a;
    margin:0 0 10px 0;
    padding: 0px;
}
.product .show{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.product .show li{
    list-style: none;
    position: relative;
    width: 332px;
}
.product .show li a{
    position: relative;
    display: block;
    width: 332px;
    padding: 0;
    margin: 0;
}
.product .show li h4{
    width:100%;
    height: 45px;
    margin: 11px 0;
    font-weight: 400;
    line-height: 45px;
}
.product .show li::after {
    content: "";
    background:#e9e9e9;
    bottom: 0;
    height: 1px;
    width: 100%;
    position: absolute;
    transition: all .66s cubic-bezier(.17, .84, .44, 1);  
}
.product .show li a::after {
    content: "";
    background:#333;
    bottom: -12px;
    height: 1px;
    width: 15px;
    position: absolute;
    transition: all .66s cubic-bezier(.17, .84, .44, 1);  
}
.product .show li a:hover::after {
    background:#008acf;
    width: 100%;

}
.product .show li a img{
    width: 100%;
    height: 151px;
}
.hot{
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    margin-top: 30px;
}
.hot .head{
    display: flex;
    height: 75px;
    align-items: center;
    padding: 0 10px 0 30px;
}
.hot .head .hl h2{
    font-weight: 300;
}
.hot .head .hl p{
    color: #7a7a8a;
}
.hot .head .hr{
    margin-left: auto;
}
.hot .head .hr a{
    background-color: #fdfdfd;
    padding: 0 23px 0 19px;
    height: 34px;
    line-height: 34px;
    position: relative;
    display: block;
    box-shadow: 1px 1px 3px #cdcdcd;
}
.hot .head .hr a .i{
    font-size: 4px;
    position: absolute;
    top:12px;
    right: 13px;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.main .hot-img {
    width: 639px;
    overflow: hidden;
}
.main .hot-img img {
    display: block;
    width: 100%;
}
.main .card {
    width: 319.5px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #f2f2f2;
}
.main .card ul li {
    display: none;
    width: 206px;
    height: 206px;
    overflow: hidden;
}
.main .card ul .on{
    display: block;
}
.main .card ul li img{
    width: 100%;
    display: block;
}
.main .card .left,
.main .card .right{
    display: inline-block;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    border: 1px solid #cdcdcd;
    border-radius: 7px;
    position: absolute;
    top: 58%;
} 
.main .card .left {
    left: 145px;
}
.main .card .right {
    left: 165px;
}
.main .card .card-text {
    text-align: center;
    line-height: 25px;
    padding: 65px 0 9px;
    color: #7a7a8a;
}
.main .card .card-text h3 {
    font-weight: normal;
    font-size: 17px;
}
.main .card .card-text  p {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 20px;
}
.main .card .card-text span {
    color: red;
    font-size: 17px;
}
.main .card .card-text .more {
    display: none;
    position: absolute;
    bottom: 25px;
    left: 111px;
}
.main .card .card-text .more a {
    display: inline-block;
    padding: 4px 20px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
.main .card:hover {
    box-shadow: 0 0 13px 10px #ededed inset;
}
.main .card:hover .more {
    display: block;
    background: #fff;
}